<h1>Listing watchers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Keywords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watchers.each do |watcher| %>
      <tr>
        <td><%= watcher.name %></td>
        <td><%= watcher.keywords %></td>
        <td><%= link_to 'Show', watcher %></td>
        <td><%= link_to 'Edit', edit_watcher_path(watcher) %></td>
        <td><%= link_to 'Destroy', watcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watcher', new_watcher_path %>
