<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @watcher.name %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @watcher.keywords %>
</p>

<%= link_to 'Edit', edit_watcher_path(@watcher) %> |
<%= link_to 'Back', root_path %>
<%
 @watcher.tweets.limit(20).each do |tweet| 

	tweet_user = eval(tweet.fields['user'])
	%>
	<div class="tweet-container" data-id="<%= tweet.fields['id_str'] %>">
		<div class="tweet-left">
			<blockquote class="twitter-tweet">
				<p><%= tweet.text %></p>
				&mdash; Twitter API (@<%= tweet_user[:screen_name] %>) <a href="https://twitter.com/<%= tweet_user[:screen_name] %>/status/<%= tweet.fields['id_str'] %>" data-datetime="<%= tweet.fields['created_at'] %>"><% tweet.fields['user'] %></a>
			</blockquote>
		</div>
		<div class="tweet-right">
			<a href="/verified" data-action="verified">Verified</a>
			<a href="/falsified" data-action="falsified">Falsified</a>
			<a href="/tbd" data-action="tbd">Unverified</a>
		</div>
	</div>
<% end %>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
	(function ($) {
		function setAction($this, $thisParent, action) {
			$this.siblings().remove();
			$thisParent.addClass(action);
		}
		$('body').on('click', '.tweet-container>.tweet-right a', function (e){
			e.preventDefault();
			var $this = $(this),
				$thisParent = $this.parents('.tweet-container'),
				id = parseInt($thisParent.attr('data-id'),10),
				action = $this.attr('data-action');
				
			$.ajax({
				'url': '/act',
				'type': 'POST',
				'data': {
				    "id": id,
				    "action": action
				},
				'success': function () {
					setAction($this, $thisParent, action)
				},
				'error': function () {
					setAction($this, $thisParent, action)
				},
			});
		});

	})(jQuery);
</script>