<!DOCTYPE html>
<html>
<head>

  <!-- Meta tags which are the same across all pages -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- Page-specific meta tags -->
  <title>Legit</title>
  <meta name="description" conent="Legit helps news room teams identify & verify information from social media about breaking news events.">

  <!-- Import Static Assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header class="header">
    <h1 class="site-name">
      <%= link_to 'Legit', root_url %>
    </h1>
    <nav class="main-nav-container">
      <%= yield "contextual_nav" %>
    </nav>
  </header>

  <main class="main-content">
    <%= yield %>
  </main>

  <footer class="footer">
    <p class="footer-notes">Legit is a project made for <a href="http://www.snd.org/2014/09/tired-of-the-same-old-lousy-cms-come-create-solutions-at-sndmakes/" rel="nofollow">SNDMakes Boston in Oct. 2014.</p>

    <h3 class="footer-header">The team</h3>

<ul class="team-list">
 <li>
    <a href="https://twitter.com/stevechiagozie" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/504004478672986112/mQvYRQs2_400x400.jpeg">

    </figure>
 	<p class="twitter-name"> @stevechiagozie</p>
 	</a>
    </li>


 <li>
    <a href="https://twitter.com/dharris" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/1119498905/framedicon_reasonably_small.jpg">

    </figure>
 	<p class="twitter-name"> @dharris</p>
 	</a>
    </li>


    <li>
    <a href="https://twitter.com/steveclancy" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/2461712292/kkbub8w1xjzojfiq8wmc_400x400.jpeg">

    </figure>
 	<p class="twitter-name"> @steveclancy</p>
 	</a>
    </li>


 <li>
    <a href="https://twitter.com/theresourceress" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/378800000829512827/bd646311692dced1ef7840c8d2739e0d_400x400.jpeg">

    </figure>
 	<p class="twitter-name"> @theresourceress</p>
 	</a>
    </li>


 <li>
    <a href="https://twitter.com/seandillingham" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/434584626384760832/P1DtlivS_400x400.jpeg">

    </figure>
 	<p class="twitter-name">@seandillingham</p>
 	</a>
    </li>

 <li>
    <a href="https://twitter.com/putneydm" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/510589729583013888/Q_hFpYi1_400x400.jpeg">

    </figure>
 	<p class="twitter-name">@putneydm</p>
 	</a>
    </li>
    
   <li>
    <a href="https://twitter.com/lisawilliams" rel="nofollow">
    <figure class="twitter-icon">
    	<img src="https://pbs.twimg.com/profile_images/434127789759803392/_pgOCzDw_400x400.jpeg">

    </figure>
 	<p class="twitter-name">@lisawilliams</p>
 	</a>
    </li>  
    


    </ul>

    <div class="svg-container">
<svg width="25px" height="25px" viewBox="0 0 25 35">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M7.25,13 C7.25,13.2708347 7.15484871,13.5052073 6.96454327,13.703125 C6.77423783,13.9010427 6.54887951,14 6.28846154,14 L1.96153846,14 C1.70112049,14 1.47576217,13.9010427 1.28545673,13.703125 C1.09515129,13.5052073 1,13.2708347 1,13 L1,3 C1,2.72916531 1.09515129,2.49479266 1.28545673,2.296875 C1.47576217,2.09895734 1.70112049,2 1.96153846,2 L6.28846154,2 C6.54887951,2 6.77423783,2.09895734 6.96454327,2.296875 C7.15484871,2.49479266 7.25,2.72916531 7.25,3 L7.25,13 Z M4.84615385,5 C4.84615385,4.71874859 4.75100255,4.4817718 4.56069712,4.2890625 C4.37039168,4.0963532 4.14503335,4 3.88461538,4 C3.61418134,4 3.38631904,4.0963532 3.20102163,4.2890625 C3.01572423,4.4817718 2.92307692,4.71874859 2.92307692,5 C2.92307692,5.27083469 3.01572423,5.50520734 3.20102163,5.703125 C3.38631904,5.90104266 3.61418134,6 3.88461538,6 C4.14503335,6 4.37039168,5.90104266 4.56069712,5.703125 C4.75100255,5.50520734 4.84615385,5.27083469 4.84615385,5 Z M24.2121394,10.671875 C24.7630236,11.3072948 25.0384615,12.0833287 25.0384615,13 C25.0284455,13.8125041 24.7404876,14.515622 24.1745793,15.109375 C23.608671,15.703128 22.9351001,16 22.1538462,16 L17.9921875,16 C18.0322518,16.1458341 18.0723155,16.2708328 18.1123798,16.375 C18.1524441,16.4791672 18.2075317,16.5937494 18.2776442,16.71875 C18.3477568,16.8437506 18.3978364,16.9374997 18.4278846,17 C18.608174,17.3854186 18.743389,17.6822906 18.8335337,17.890625 C18.9236783,18.0989594 19.0188296,18.4036438 19.1189904,18.8046875 C19.2191511,19.2057312 19.2692308,19.6041647 19.2692308,20 C19.2692308,20.2500012 19.2667268,20.4531242 19.2617188,20.609375 C19.2567107,20.7656258 19.2316709,20.9999984 19.1865986,21.3125 C19.1415262,21.6250016 19.0814307,21.8854156 19.0063101,22.09375 C18.9311895,22.3020844 18.8109984,22.536457 18.6457332,22.796875 C18.4804679,23.057293 18.2801494,23.2682284 18.0447716,23.4296875 C17.8093939,23.5911466 17.5089161,23.726562 17.1433293,23.8359375 C16.7777426,23.945313 16.3645856,24 15.9038462,24 C15.6434282,24 15.4180699,23.9010427 15.2277644,23.703125 C15.0274429,23.4947906 14.8571722,23.2343766 14.7169471,22.921875 C14.5767221,22.6093734 14.4790668,22.3385428 14.4239784,22.109375 C14.3688899,21.8802072 14.3062904,21.562502 14.2361779,21.15625 C14.1460332,20.7187478 14.0784257,20.4036468 14.0333534,20.2109375 C13.988281,20.0182282 13.9006417,19.7656266 13.7704327,19.453125 C13.6402237,19.1406234 13.4849769,18.8906259 13.3046875,18.703125 C12.974157,18.3593733 12.4683528,17.7343795 11.7872596,16.828125 C11.2964719,16.161455 10.7906677,15.531253 10.2698317,14.9375 C9.74899579,14.343747 9.36839062,14.0364584 9.12800481,14.015625 C8.87760291,13.9947916 8.66226052,13.8880218 8.48197115,13.6953125 C8.30168179,13.5026032 8.21153846,13.276043 8.21153846,13.015625 L8.21153846,3 C8.21153846,2.72916531 8.30668975,2.4973968 8.49699519,2.3046875 C8.68730063,2.1119782 8.91265895,2.01041672 9.17307692,2 C9.52363957,1.98958328 10.3148977,1.76041891 11.546875,1.3125 C12.3181128,1.04166531 12.9215723,0.835938203 13.3572716,0.6953125 C13.7929709,0.554686797 14.4014384,0.403646641 15.1826923,0.2421875 C15.9639462,0.0807283594 16.6850928,0 17.3461538,0 L17.6015625,0 L18.7433894,0 L19.2842548,0 C20.6163929,0.0208334375 21.6029615,0.427079375 22.2439904,1.21875 C22.8249228,1.93750359 23.070313,2.8802025 22.9801683,4.046875 C23.3707952,4.43229359 23.6412252,4.92187203 23.7914663,5.515625 C23.9617396,6.15104484 23.9617396,6.76041375 23.7914663,7.34375 C24.2522058,7.97916984 24.4675482,8.69270438 24.4375,9.484375 C24.4375,9.81771 24.3623806,10.2135394 24.2121394,10.671875 Z" id="thumbsdown" class="thumbsdown" fill="#333333" sketch:type="MSShapeGroup"></path>
    </g>
</svg>

<svg width="25px" height="25px" viewBox="0 0 25 25">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M7.25,11 L7.25,21 C7.25,21.2708347 7.15484871,21.5052073 6.96454327,21.703125 C6.77423783,21.9010427 6.54887951,22 6.28846154,22 L1.96153846,22 C1.70112049,22 1.47576217,21.9010427 1.28545673,21.703125 C1.09515129,21.5052073 1,21.2708347 1,21 L1,11 C1,10.7291653 1.09515129,10.4947927 1.28545673,10.296875 C1.47576217,10.0989573 1.70112049,10 1.96153846,10 L6.28846154,10 C6.54887951,10 6.77423783,10.0989573 6.96454327,10.296875 C7.15484871,10.4947927 7.25,10.7291653 7.25,11 Z M4.84615385,19 C4.84615385,18.7291653 4.75100255,18.4947927 4.56069712,18.296875 C4.37039168,18.0989573 4.14503335,18 3.88461538,18 C3.61418134,18 3.38631904,18.0989573 3.20102163,18.296875 C3.01572423,18.4947927 2.92307692,18.7291653 2.92307692,19 C2.92307692,19.2812514 3.01572423,19.5182282 3.20102163,19.7109375 C3.38631904,19.9036468 3.61418134,20 3.88461538,20 C4.14503335,20 4.37039168,19.9036468 4.56069712,19.7109375 C4.75100255,19.5182282 4.84615385,19.2812514 4.84615385,19 Z M25.0384615,11 C25.0384615,11.8958378 24.7630236,12.6718717 24.2121394,13.328125 C24.3623806,13.7864606 24.4375,14.18229 24.4375,14.515625 C24.4675482,15.3072956 24.2522058,16.0208302 23.7914663,16.65625 C23.9617396,17.2395863 23.9617396,17.8489552 23.7914663,18.484375 C23.6412252,19.078128 23.3707952,19.5677064 22.9801683,19.953125 C23.070313,21.1197975 22.8249228,22.0624964 22.2439904,22.78125 C21.6029615,23.5729206 20.6163929,23.9791666 19.2842548,24 L18.7433894,24 L17.6015625,24 L17.3461538,24 C16.6850928,24 15.9639462,23.9192716 15.1826923,23.7578125 C14.4014384,23.5963534 13.7929709,23.4453132 13.3572716,23.3046875 C12.9215723,23.1640618 12.3181128,22.9583347 11.546875,22.6875 C10.3148977,22.2395811 9.52363957,22.0104167 9.17307692,22 C8.91265895,21.9895833 8.68730063,21.8880218 8.49699519,21.6953125 C8.30668975,21.5026032 8.21153846,21.2708347 8.21153846,21 L8.21153846,10.984375 C8.21153846,10.723957 8.30168179,10.4973968 8.48197115,10.3046875 C8.66226052,10.1119782 8.87760291,10.0052084 9.12800481,9.984375 C9.36839062,9.96354156 9.74899579,9.65625297 10.2698317,9.0625 C10.7906677,8.46874703 11.2964719,7.838545 11.7872596,7.171875 C12.4683528,6.26562047 12.974157,5.64062672 13.3046875,5.296875 C13.4849769,5.10937406 13.6402237,4.85937656 13.7704327,4.546875 C13.9006417,4.23437344 13.988281,3.9817718 14.0333534,3.7890625 C14.0784257,3.5963532 14.1460332,3.28125219 14.2361779,2.84375 C14.3062904,2.43749797 14.3688899,2.11979281 14.4239784,1.890625 C14.4790668,1.66145719 14.5767221,1.39062656 14.7169471,1.078125 C14.8571722,0.765623437 15.0274429,0.505209375 15.2277644,0.296875 C15.4180699,0.0989573438 15.6434282,0 15.9038462,0 C16.3645856,0 16.7777426,0.0546869531 17.1433293,0.1640625 C17.5089161,0.273438047 17.8093939,0.408853359 18.0447716,0.5703125 C18.2801494,0.731771641 18.4804679,0.942707031 18.6457332,1.203125 C18.8109984,1.46354297 18.9311895,1.69791563 19.0063101,1.90625 C19.0814307,2.11458437 19.1415262,2.37499844 19.1865986,2.6875 C19.2316709,3.00000156 19.2567107,3.23437422 19.2617188,3.390625 C19.2667268,3.54687578 19.2692308,3.74999875 19.2692308,4 C19.2692308,4.39583531 19.2216551,4.79166469 19.1265024,5.1875 C19.0313497,5.58333531 18.9361984,5.89583219 18.8410457,6.125 C18.745893,6.35416781 18.608174,6.64583156 18.4278846,7 C18.3978364,7.06250031 18.3477568,7.15624938 18.2776442,7.28125 C18.2075317,7.40625062 18.1524441,7.52083281 18.1123798,7.625 C18.0723155,7.72916719 18.0322518,7.85416594 17.9921875,8 L22.1538462,8 C22.9351001,8 23.611175,8.29687203 24.1820913,8.890625 C24.7530077,9.48437797 25.0384615,10.1874959 25.0384615,11 Z" id="thumbsup" class="thumbsup" fill="#333333" sketch:type="MSShapeGroup"></path>
    </g>
</svg>

<svg width="25px" height="25px" viewBox="0 0 25 25">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M22,6.375 L22,17.625 C22,18.5546921 21.6699252,19.3496061 21.0097656,20.0097656 C20.3496061,20.6699252 19.5546921,21 18.625,21 L7.375,21 C6.44530785,21 5.65039393,20.6699252 4.99023438,20.0097656 C4.33007482,19.3496061 4,18.5546921 4,17.625 L4,6.375 C4,5.44530785 4.33007482,4.65039393 4.99023438,3.99023438 C5.65039393,3.33007482 6.44530785,3 7.375,3 L18.625,3 C19.5546921,3 20.3496061,3.33007482 21.0097656,3.99023438 C21.6699252,4.65039393 22,5.44530785 22,6.375 L22,6.375 Z" id="maybe" class="maybe" sketch:type="MSShapeGroup"></path>
    </g>
</svg>


<svg width="20px" height="20px" viewBox="0 0 20 20">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M19.3736264,16.7168367 C19.3736264,17.73725 19.0560929,18.5429392 18.4210165,19.1339286 C17.78594,19.7249179 16.942084,20.0204082 15.8894231,20.0204082 L4.4842033,20.0204082 C3.43154236,20.0204082 2.58768633,19.7249179 1.95260989,19.1339286 C1.31753345,18.5429392 1,17.73725 1,16.7168367 C1,16.2661542 1.01522421,15.8261076 1.04567308,15.3966837 C1.07612195,14.9672598 1.13701877,14.503829 1.22836538,14.0063776 C1.319712,13.5089261 1.43498099,13.0476212 1.57417582,12.622449 C1.71337066,12.1972768 1.90041091,11.7827401 2.1353022,11.3788265 C2.37019348,10.9749129 2.63987943,10.6305286 2.94436813,10.3456633 C3.24885683,10.0607979 3.62076246,9.83333418 4.06009615,9.66326531 C4.49942985,9.49319643 4.98442958,9.40816327 5.51510989,9.40816327 C5.59340698,9.40816327 5.77609747,9.49957392 6.06318681,9.68239796 C6.35027616,9.865222 6.67433428,10.0693016 7.03537088,10.2946429 C7.39640748,10.5199841 7.866183,10.7240637 8.44471154,10.9068878 C9.02324007,11.0897118 9.60393481,11.1811224 10.1868132,11.1811224 C10.7696916,11.1811224 11.3503863,11.0897118 11.9289148,10.9068878 C12.5074434,10.7240637 12.9772189,10.5199841 13.3382555,10.2946429 C13.6992921,10.0693016 14.0233502,9.865222 14.3104396,9.68239796 C14.5975289,9.49957392 14.7802194,9.40816327 14.8585165,9.40816327 C15.3891968,9.40816327 15.8741965,9.49319643 16.3135302,9.66326531 C16.7528639,9.83333418 17.1247695,10.0607979 17.4292582,10.3456633 C17.7337469,10.6305286 18.0034329,10.9749129 18.2383242,11.3788265 C18.4732155,11.7827401 18.6602557,12.1972768 18.7994505,12.622449 C18.9386454,13.0476212 19.0539144,13.5089261 19.145261,14.0063776 C19.2366076,14.503829 19.2975044,14.9672598 19.3279533,15.3966837 C19.3584022,15.8261076 19.3736264,16.2661542 19.3736264,16.7168367 Z M15.1978022,5.32653061 C15.1978022,6.67857819 14.7084527,7.83290338 13.729739,8.78954082 C12.7510253,9.74617825 11.5700619,10.2244898 10.1868132,10.2244898 C8.80356451,10.2244898 7.62260105,9.74617825 6.64388736,8.78954082 C5.66517368,7.83290338 5.17582418,6.67857819 5.17582418,5.32653061 C5.17582418,3.97448304 5.66517368,2.82015784 6.64388736,1.86352041 C7.62260105,0.906882972 8.80356451,0.428571429 10.1868132,0.428571429 C11.5700619,0.428571429 12.7510253,0.906882972 13.729739,1.86352041 C14.7084527,2.82015784 15.1978022,3.97448304 15.1978022,5.32653061 Z" id="user" class="user" fill="#333333" sketch:type="MSShapeGroup"></path>
    </g>
</svg>

    </div>

  </footer>
</body>


</html>
